[Unit]
Description=GoLang web server for stream verification
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/streaming-server

[Install]
WantedBy=multi-user.target